
// FONT PROPERTIES
$robot: 'Roboto', sans-serif; 
$giant: 36px; $huge:  24px; $large: 20px; $medium: 16px; $small: 12px;

html { background-color: #fff; } 
body , #root {
    min-height: 100vh;
    max-width: 100%;
    background-color: #fff;
    margin: 0 auto;
    font-family: $robot;
    letter-spacing: 0.125em; 
}




